.container{
	width: 65%;
	margin: 0 auto;
	text-align: center;
}
.container img{
	max-width: 250px;
}
#elemento{
	
}
#elementos .elemento{
	margin: 10px;
	border: 1px solid #E0E0E0;
	display: block;
	padding: 10px;
	text-align: left;
	position: relative;
}

#elementos .elemento a{
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	padding: 20px;
	position: absolute;
	top: 30%;
	color: #6F6464;
	text-decoration: none;
	font-size: 40px;
}